<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @device.id %>
</p>

<p>
  <b>Setname:</b>
  <%= @device.setname %>
</p>


<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
