<h1>Listing effects</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Effectname</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @effects.each do |effect| %>
  <tr>
    <td><%= effect.id %></td>
    <td><%= effect.effectname %></td>
    <td><%= link_to 'Show', effect %></td>
    <td><%= link_to 'Edit', edit_effect_path(effect) %></td>
    <td><%= link_to 'Destroy', effect, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Effect', new_effect_path %>
