<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @effect.id %>
</p>

<p>
  <b>Effectname:</b>
  <%= @effect.effectname %>
</p>


<%= link_to 'Edit', edit_effect_path(@effect) %> |
<%= link_to 'Back', effects_path %>
