<!--
<p>
  count: <%= @photos.count %></br>
  img : <%= @photo.img_url.to_s %>
</p>
-->
<canvas width="1616" height="1080" id="demoimage"></canvas>

<script type="text/javascript">

const EFFECT_BLUR = "blur" ;
const EFFECT_EDGES = "edges";
const EFFECT_INVERT = "invert";
const EFFECT_NOISE = "noise";
const EFFECT_POINTILLIZE = "pointillize";
const EFFECT_EMBOSS = "emboss";
const EFFECT_SOLARIZE = "solarize";
const EFFECT_MOSAIC = "mosaic";
const EFFECT_VSLIP = "vslip" ;
const EFFECT_HSLIP = "hslip";
const EFFECT_TILE = "tile";

var can = document.getElementById("demoimage");
var context = can.getContext("2d");
//Image
var img = new Image();
img.src = "<%= @photo.img_url.to_s %>";
img.onload = function() {
	if ("<%= @photo.effect %>" == EFFECT_BLUR ){
		context.drawImage(img, 0, 0);
		blur();
	}
	else if ("<%= @photo.effect %>" == EFFECT_EDGES ){
		context.drawImage(img, 0, 0);
		edges();
	}
	else if ("<%= @photo.effect %>" == EFFECT_INVERT ){
		context.drawImage(img, 0, 0);
		invert();
	}
	else if ("<%= @photo.effect %>" == EFFECT_NOISE ){
		context.drawImage(img, 0, 0);
		noise(parseInt("<%= @photo.effectparam1 %>"));
	}
	else if ("<%= @photo.effect %>" == EFFECT_POINTILLIZE ){
		context.drawImage(img, 0, 0);
		pointillize(parseInt("<%= @photo.effectparam1 %>"));
	}
	else if ("<%= @photo.effect %>" == EFFECT_EMBOSS ){
		context.drawImage(img, 0, 0);
		emboss(parseInt("<%= @photo.effectparam1 %>"));
	}
	else if ("<%= @photo.effect %>" == EFFECT_SOLARIZE ){
		context.drawImage(img, 0, 0);
		solarize();
	}
	else if ("<%= @photo.effect %>" == EFFECT_MOSAIC  ){
		context.drawImage(img, 0, 0);
		mosaic(parseInt("<%= @photo.effectparam1 %>"));
	}
	else if ("<%= @photo.effect %>" == EFFECT_VSLIP ){
		context.drawImage(img, 0, 0);
		recon_ver( parseInt("<%= @photo.effectparam1 %>") );
	}
	else if ("<%= @photo.effect %>" == EFFECT_HSLIP ){
		context.drawImage(img, 0, 0);
		recon_hor(parseInt("<%= @photo.effectparam1 %>"));
	}
	else if ("<%= @photo.effect %>" == EFFECT_TILE){
		context.drawImage(img, 0, 0);
		recon_sqr(parseInt("<%= @photo.effectparam1 %>"));
	}
	else{
    	context.drawImage(img, 0, 0);
    }
};
</script>

<%= javascript_include_tag "effect" %>
