<h1>Listing photos</h1>

<table>
  <tr>
    <th>Shooting</th>
    <th>Received</th>
    <th>Title</th>
    <th>Img</th>
    <th>Effect</th>
    <th>Param1</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @photos.each do |photo| %>
  <tr class="<%= cycle('even', 'odd') %>">
    <td><%= photo.shooting %></td>
    <td><%= photo.received %></td>
    <td><%= photo.title %></td>
    <td><%= photo.img_url.to_s %></td>
    <td><%= photo.effect %></td>
    <td><%= photo.effectparam1 %></td>
    <td><%= link_to 'Show', photo %></td>
    <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
    <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Photo', new_photo_path %>
<%= link_to 'Latest', url_for(:action => 'latest') %>