
<h1>Latest photo</h1>

<p>
  <b>Title:</b>
  <%= @photo.title %>
</p>

<!--
<p>
  <b>Picture:</b>
  <%= image_tag @photo.img_url.to_s %>
</p>
-->

<div class="actiondemo">
<!--
<input type="button" onclick="demo();" value="Blur image">
<input type="button" onclick="recon_ver();" value="ReVer">
<input type="button" onclick="recon_hor();" value="ReHor">
<input type="button" onclick="recon_sqr();" value="ReSqr">
<input type="button" onclick="resetDemo();" value="Reset">
-->
  <div id="canvas">
    <%= render :partial => "canvas", 
      :locals => {:photo => @photo, :photos => @photos}, 
      :remote => true %>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
  	  //updateCanvas();
    setInterval(updateCanvas, 1000);
  });

  function updateCanvas(){
    var canvas_updated = 0;

    $.ajaxSetup({async: false});
    $.getJSON("/photos/photo_count", function(data){
      canvas_updated = data.canvas_updated;
    });
    $.ajaxSetup({async: true});

    if(canvas_updated == 1){
      $("#canvas").load("/photos/update_canvas");
    }
  }
</script>
