<p id="notice"><%= notice %></p>

<p>
  <b>Shooting:</b>
  <%= @photo.shooting %>
</p>

<p>
  <b>Received:</b>
  <%= @photo.received %>
</p>

<p>
  <b>Title:</b>
  <%= @photo.title %>
</p>

<p>
  <b>Picture:</b>
  <%= image_tag @photo.img_url.to_s %>  
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
